@import "../base/base";
.header {
  z-index: 99;
  position: fixed;
  top: 0;
  height: $header-h;
  width: $header-w;
  background-color: rgba(54, 28, 71, 0.9);
  display: flex;
  align-items: center;
  padding-left: 200px;
}
.index {
  color: aqua;

  font-size: 30px;
  padding: 12px;
}
.page-number {
  padding: 8px;
}
.page-number:hover {
  color: white;
}
